// Start Home Page 
section.header.active#home
  .main-text-container
    .main-text
      h6 Hello!
      h2.ah-headline I'M 
        span.ah-words-wrapper
          b.is-visible Ahmed Badr
          b a Front End Developer
          b a Freelancer
      p I'm a Freelance Front end Developer. <br> I strives to build immersive and beautiful web applications through carefully crafted code and user-centric design.

      // Star 
      .call-to-actions-home
        a(class='section-about btns nav-btn nav-page2' href='#about' data-target='2'): span
          i.fa.fa-user
          | more about me
        a(class='section-port btns btn-port nav-btn nav-page3' href='#portfolio' data-target='3'): span
          i.fa.fa-suitcase
          | Portfolio
      // End 

// End Home Page 
