// Start Navbar 
nav.navbar.navbar-expand-lg.navbar-light.justify-content-center
  .container
    a.navbar-brand(href='#') Ahmed Badr
    button.navbar-toggler(type='button' data-toggle='collapse' data-target='#navbarSupportedContent' aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon

    // Start Nav Phone 
    .nav-phone
      .navicon
        span
      a.nav-link.nav-btn.nav-page1.active(href='#' data-target='1') Home 
      a.nav-link.nav-btn.nav-page2(href='#' data-target='2') About
      a.nav-link.nav-btn.nav-page3(href='#' data-target='3') Portfolio
      a.nav-link.nav-btn.nav-page4(href='#' data-target='4') Contact
    // End Nav Phone 

    .collapse.navbar-collapse.justify-content-center#navbarSupportedContent
      ul.navbar-nav
        li.nav-item.active
          a.nav-link.nav-btn.nav-page1.active(href='#' data-target='1') Home 
        li.nav-item.section-about
          a.nav-link.nav-btn.nav-page2(href='#' data-target='2') About
        li.nav-item.section-port
          a.nav-link.nav-btn.nav-page3(href='#' data-target='3') Portfolio
        li.nav-item
          a.nav-link.nav-btn.nav-page4(href='#' data-target='4') Contact
// End Navbar 


