// Start Navbar 
nav.navbar.navbar-expand-lg.navbar-light.justify-content-center
  .container
    a.navbar-brand(href='https://ahmedbfront.github.io/-/dist/' title='Ahmed Badr')=  '< Badr >'
    .nav-phone
      .navicon
        span
      a.nav-link.nav-btn.active(href='#home') Home 
      a.nav-link.nav-btn(href='#about') About
      a.nav-link.nav-btn(href='#portfolio') Portfolio
      a.nav-link.nav-btn(href='#contact') Contact
    // End Nav Phone 
    .navbar-collapse.justify-content-center#navbarSupportedContent
      ul.navbar-nav
        li.nav-item.active
          a.nav-link.nav-btn.active(href='#home') Home 
        li.nav-item.section-about
          a.nav-link.nav-btn(href='#about') About
        li.nav-item.section-port
          a.nav-link.nav-btn(href='#portfolio') Portfolio
        li.nav-item
          a.nav-link.nav-btn(href='#contact') Contact
// End Navbar 


