script(src='http://localhost:35729/livereload.js')
script(src='vendor/jquery-2.2.4.min.js')
script(src='vendor/plugins/jquery.animatedheadline.js')
script(src="vendor/plugins/modernizr.js")
script(src='js/main.js')
    
