
$background: #222;
$primary: #2196F3;

$flatRed: #c0392b;

$textColor: #2196F3;
$pargColor: #ffffffcc;
$textWhite: #fff;

$white: white;;
$offWhite: #eee;
$black: #222;


$fontText: 'Poppins', sans-serif;
$fontParg: 'Open Sans', sans-serif;


$btn-hvr: #e1e1e1;

