// Start Home Page
.header {
  background-image: url("http://www.mediafire.com/convkey/9dbc/p4b9qwxrgtz7qgezg.jpg");
  background-size: cover;
  z-index: 99;
  height: 100vh;
  position: relative;
  &:after {
    content: "";
    background-color: #253143fa;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
  }
  // Start
  .main-text-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
    img {
      max-width: 300px;
      height: 300px;
      border: 10px solid #ffffff1a;
      border-radius: 50%;
    }
    .main-text {
      width: 540px;
      margin-left: 80px;
      color: $white;
      h6 {
        color: $offWhite;
        font-size: 18px;
      }
      h2 {
        font-size: 40px;
        margin: 18px 0 10px;
        text-transform: inherit;
        span {
          color: $primary;
          padding: 0;
          &:after {
            background-color: transparent;
          }
        }
      }
      p {
        color: $offWhite;
        margin: 10px 0 26px;
        font-size: 17px;
        line-height: 2;
      }
      .call-to-actions-home {
        a {
          &:hover {
            color: $white;
          }
        }
        .btn-port {
          background-color: transparent;
          &:hover {
            &:before {
              background: $primary;
            }
          }
        }
      }
    }
  }
}
// End Home Page

@media (max-width: 576px) {
  .main-text-container {
    .main-text {
      h2 {
        span {
          display: block;
          font-size: 30px;
        }
      }
    }
  }
}

@media (min-width: 576px) {
  // Start Home Page
  .header {
    // Start
    .main-text-container {
      .main-text {
        .call-to-actions-home {
          a {
            width: auto;
            &:first-of-type {
              margin-right: 30px;
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }
  // End Home Page
}

@media (min-width: 576px) and (max-width: 767px) {
  // Start Home Page
  .header {
    // Start
    .main-text-container {
      width: 80% !important;
      .main-text {
        width: auto;
        margin-left: 0;
        h2 {
          font-size: 36px;
          margin: 12px 0 0;
        }
        p {
          font-size: 16px;
          line-height: 1.7;
        }
        .call-to-actions-home {
          a {
            width: 70%;
            &:first-of-type {
              margin-right: 0;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
  // End Home Page
}

@media (max-width: 767.98px) {
  // Start Home Page
  .header {
    // Start
    .main-text-container {
      width: 92%;
      img {
        display: none;
      }
      .main-text {
        width: auto;
        margin-left: 0;
        h2 {
          font-size: 36px;
          margin: 12px 0 0;
        }
        p {
          font-size: 16px;
          line-height: 1.7;
        }
        .call-to-actions-home {
          a {
            width: 70%;
            &:first-of-type {
              margin-right: 0;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
  // End Home Page
}

@media (min-width: 768px) and (max-width: 991.98px) {
  // Start Home Page
  .header {
    // Start
    .main-text-container {
      img {
        max-width: 250px;
        height: 250px;
      }
      .main-text {
        width: 470px;
        margin-left: 35px;
        h2 {
          font-size: 36px;
          margin: 12px 0 0;
        }
        p {
          font-size: 16px;
          line-height: 1.7;
        }
        .call-to-actions-home {
          a {
            width: 70%;
            &:first-of-type {
              margin-right: 0;
              margin-bottom: 20px;
            }
          }
        }
      }
    }
  }
  // End Home Page
}
