body {
  font-family: "Open Sans", sans-serif;
  background-color: #253143b8;
}

a,
a:hover,
a:active,
a:focus {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
}
