- var pageTitle = ' Badr | Front End Developer';
<!DOCTYPE html>
html(lang="en")
  head
    //- Site Meta 
    include pug/layout/meta
    // Site Style 
    include pug/layout/styles
  body
  
    //- Navbar Home 
    include pug/layout/navbar

    .home-site

      //- Home Page 
      include pug/layout/header

      //- About Page 
      include pug/components/about

      //- Portfolio Page 
      include pug/components/portfolio
      
      //- Contact Page 
      include pug/components/contact

    // Start Loding Site 
    .preloader
      .preloader-container
        h2=  '< Ahmed >'
        #progress-line-container
          .progress-line
        h2=  '</ Badr >'
    // End Loding Site 


    // Site Script 
    include pug/layout/scripts
    