$primary: #2196f3;

// Start Accordion-1
.accordion_1 {
  width: 800px;
  height: 230px;
  .accordion-1 {
    // position: relative;
    // width: 800px;
    // height: auto;
    ul {
      position: relative;
      width: 100%;
      border-top: 2px solid $primary;
      li {
        display: inline;
        a {
          display: inline-block;
          width: 19.4%;
          height: 55px;
          line-height: 55px;
          text-align: center;
          @include transition(0.4s);
          i {
            color: $primary;
            font-size: 30px;
            @include transition(0.4s);
          }
          &.active {
            background-color: $primary;
            i {
              color: #fff;
            }
          }
        }
        .box {
          position: absolute;
          top: 50px;
          background-color: $primary;
          display: none;
          padding: 20px;
          &.active {
            display: block;
          }
          h2 {
            color: #fff;
            font-size: 24px;
            border-bottom: 2px solid #fff;
            padding-bottom: 15px;
            @include transition(0.4s);
          }
          p {
            color: #fff;
          }
        }
      }
    }
  }
}
// End Accordion-1

// Start Accordion-2
.accordion-2 {
  .show-accordion {
    width: 100%;
    background: $primary;
    font-size: 16px;
    padding: 20px 40px;
    text-align: left;
    border: none;
    // border-bottom: 1px solid #ddd;
    color: #fff;
    outline: 0;
    cursor: pointer;
    @include transition(0.3s);
    &:after {
      content: "\002b";
      float: right;
      font-weight: bold;
    }
  }
  .active {
    &:after {
      content: "\2212";
    }
  }
  .desc-accordion {
    max-height: 0;
    overflow: hidden;
    @include transition(0.4s);
    p {
      background: #fff;
      padding: 20px 40px;
      margin: 0;
    }
  }
}
// End Accordion-2
