.btns {
  position: relative;
  background-color: $primary;
  display: inline-block;
  border-radius: 24px;
  line-height: 50px;
  text-transform: uppercase;
  color: $white;
  text-align: center;
  padding: 0 30px;
  letter-spacing: .5px;
  border: 0;
  overflow: hidden;
  font-size: 16px;
  font-weight: 500;
  font-family: $fontText;
  @include boxShadow;
  span {
    position: relative;
    z-index: 99;
    i {
      margin-right: 12px;
    }
  }
  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: -25%;
    width: 0%;
    height: 102%;
    background-color: $background;
    transform: skew(-30deg);
    @include transition(.5s);
    @include boxShadow;
  }
  &:hover  {
    &:before {
      width: 180%
    }
    color: $white;
  }
}