// Start Loding Site 
.preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999999;
  pointer-events: none;
  backface-visibility: hidden;
  @include transition(.4s linear);
  &.loaded {
    &:before {
      transform: translateY(-101%);
    }
    &:after {
      transform: translateY(101%);
    }
    .preloader-container {
      opacity: 0;
      visibility: hidden;
      @include transition(0s);
    }
  }
  &:before {
    top: 0;
    bottom: 50%;
  }
  &:after {
    top: 50%;
    bottom: 0;
  }
  &:before,
  &:after {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    background-color: #1c293c;
    @include transition(.5s linear);
  }
  .preloader-container {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
    text-align: center;
    h2 {
      margin: 0;
      padding: 20px 0;
      color: #fff;
      font-size: 42px;
      letter-spacing: 4px;
    }
    #progress-line-container {
      width: 100vw;
      background: #fff;
      .progress-line {
        background: $primary;
        margin-top: 0;
        margin-left: -100vw;
        width: 100vw;
        height: 5px;
        @include transition(.5s);
        animation: progess 2.5s linear infinite;
      }
    }
  }
}

@keyframes progess {
  0% {
    margin-left: -100vw;
  }

  100% {
    margin-left: 100vw;
  }
}
// End Loding Site 