// Start Section Contact 
.contact {
  background-color: $background;

  // Start Contact Info 
  .contact-info {
    margin-bottom: 40px;
    ul {
      li {
        margin-bottom: 20px;
        h5 {
          font-size: 17px;
          color: $textWhite;
          text-transform: none;
          span {
            display: block;
            font-size: 16px;
            margin-bottom: 8px;
            color: $pargColor;
          }
          i {
            margin-right: 8px;
            color: $primary;
          }
        }
      }
    }
  }
  // End Contact Info 

  // Start Social Media 
  .social-media {
    h6 {
      color: $pargColor;
      margin-bottom: 16px;
    }
    .social {
      display: inline-block;
      box-shadow: -1px -1px 3px rgba(255,255,255,0.1),
      2px 2px 6px rgba(0,0,0,0.8);
      padding: 0;
      li {
        display: inline-block;
        margin: 10px;
        &:hover {
          a {
            background-color: $primary;
            color: #fff;
          }
        }
        a {
          width: 35px;
          height: 35px;
          line-height: 35px;
          color: $primary;
          border-radius: 50%;
          text-align: center;
          display: block;
          @include transition(.4s);
          @include boxShadow;
        }
      }
    }
  }
  // Start Social Media 

  // Start Form Contact 
  .contact-form {
    .form-group {
      margin-bottom: 30px;
      .icon {
        position: absolute;
        top: 16px;
        left: 40px;
        font-size: 16px;
        opacity: .3;
        color: #eee;
      }
      .form-control {
        background: $background;
        border: none;
        color: #fff;
        height: 50px;
        border-radius: 30px;
        padding-left: 55px;
        margin-bottom: 6px;
        @include boxShadow;
      }
      .formMsg {
        display: none;
        color: red;
        margin-left: 20px;
      }
      textarea {
        height: 150px !important;
      }
      .btn-submit {
        margin-left: 15px;
      }
    }
  }
  // End Form Contact 
}

// Start Section Contact 
