// Start Section Portfolio
.portfolio {
  background-color: $background;
  // Portfolio Nav
  .port-nav {
    position: relative;
    left: 50%;
    display: inline-block;
    transform: translateX(-50%);
    box-shadow: inset -1px -1px 3px rgba(255, 255, 255, 0.1),
      inset 2px 2px 6px rgba(0, 0, 0, 0.8);
    padding: 8px;
    margin-bottom: 60px;
    li {
      display: inline-block;
      color: #fff;
      font-size: 20px;
      font-weight: bold;
      border-radius: 4px;
      margin: 8px 22px;
      padding: 2px 12px;
      letter-spacing: 1px;
      cursor: pointer;
      @include transition(0.4s);
      &.active {
        color: $primary;
        box-shadow: -1px -1px 3px rgba(255, 255, 255, 0.1),
          2px 2px 6px rgba(0, 0, 0, 0.8);
      }
    }
  }
  .show-portfolio > div {
    &:not(:first-child) {
      display: none;
    }
  }
}
// End Section Portfolio

@media (max-width: 420px) {
  // Portfolio Nav
  .port-nav {
    li {
      margin: 0 !important;
      &:before,
      &:after {
        display: none;
      }
    }
  }
}
