// Start Section About 
section(class='about pd-top-btm' id='about')
  .container
    // Page Title 
    .page-title
      h2 ABOUT #[span ME]
      p I DESIGN AND CODE BEAUTIFUL THINGS, AND I LOVE WHAT I DO

    // Start Personal Infos 
    .row
      .col-lg-6.col-md-12.col-sm-12
        .image-container
          img(class='img-fluid lazyload' src='img/load.gif' data-src='img/ahmed.jpg' alt='Image')

      .col-lg-6.col-md-12.align-self-center
        .row
          .col-sm-6
            ul(class='list1 list-unstyled')
              li
                h6
                  span Name 
                  | Ahmed Badr
              li
                h6
                  span Birthdate 
                  | 4 Jan 1996
              li
                h6
                  span Address 
                  | Egypt, Alexandria
              li
                h6
                  span Languages 
                  | Arabic, English

          .col-sm-6
            ul(class='list2 list-unstyled')
              li
                h6
                  span Experience 
                  | 2 Years
              li
                h6 
                  span Freelance 
                  | Available
              li
                h6 
                  span Email 
                  | ahmedbfront@gmail.com
              li
                h6 
                  span Phone 
                  | +2 01205740051
          // Download CV 
          .col-12
            a(class='cv btns' href="https://bit.ly/3bGjFhz" target='_blank'): span
              i.fa.fa-download
              | download my cv
          // Download CV 

    // End Personal Infos 
    hr
    // Start Skills 
    .row
      h2.title-skill.col-12 Skills
         
      // Skill Progress 
      .col-md-4.col-sm-6
        .skill
          span.text Adobe XD
          .chart-bar
            span.item-progress(style='width: 75%')
            span.percent(style='right: calc( 24% - 22px);') 75%
      // Skill Progress 
      .col-md-4.col-sm-6
        .skill
          span.text html 5
          .chart-bar
            span.item-progress(style='width: 90%')
            span.percent(style='right: calc( 9% - 22px);') 90%
      // Skill Progress 
      .col-md-4.col-sm-6
        .skill
          span.text Css 3
          .chart-bar
            span.item-progress(style='width: 90%')
            span.percent(style='right: calc( 9% - 22px);') 90%
      // Skill Progress 
      .col-md-4.col-sm-6
        .skill
          span.text Javascript
          .chart-bar
            span.item-progress(style='width: 80%')
            span.percent(style='right: calc( 18% - 22px);') 80%
      // Skill Progress 
      .col-md-4.col-sm-6
        .skill
          span.text Angular
          .chart-bar
            span.item-progress(style='width: 70%')
            span.percent(style='right: calc( 29% - 22px);') 70%
      // Skill Progress 
      .col-md-4.col-sm-6
        .skill
          span.text Jquery
          .chart-bar
            span.item-progress(style='width: 85%')
            span.percent(style='right: calc( 14% - 22px);') 85%
      // Skill Progress 
      .col-md-4.col-sm-6
        .skill
          span.text Ajax
          .chart-bar
            span.item-progress(style='width: 85%')
            span.percent(style='right: calc( 14% - 22px);') 85%
      // Skill Progress 
      .col-md-4.col-sm-6
        .skill
          span.text Bootstrap v4
          .chart-bar
            span.item-progress(style='width: 98%')
            span.percent(style='right: calc( 1% - 22px);') 98%
      // Skill Progress 
      .col-md-4.col-sm-6
        .skill
          span.text Pug Js
          .chart-bar
            span.item-progress(style='width: 95%')
            span.percent(style='right: calc( 4% - 22px);') 95%
      // Skill Progress 
      .col-md-4.col-sm-6
        .skill
          span.text Sass
          .chart-bar
            span.item-progress(style='width: 95%')
            span.percent(style='right: calc( 4% - 22px);') 95%
      // Skill Progress 
      .col-md-4.col-sm-6
        .skill
          span.text Git/Github
          .chart-bar
            span.item-progress(style='width: 90%')
            span.percent(style='right: calc( 9% - 22px);') 90%
      // Skill Progress 
      .col-md-4.col-sm-6
        .skill
          span.text Gulp Js
          .chart-bar
            span.item-progress(style='width: 98%')
            span.percent(style='right: calc( 1% - 22px);') 98%
    // End Skills 

// End Section About 
