
// Start Hover Section 
section.section-hover

  .container.container-hover-activity

    // Start Button 
    .page-button

      a(href="#") Hover me 
      a(href="#") Hover me 
      a(href="#") Hover me 
      a(href="#") Hover me 
      a(href="#") Hover me 
      a(href="#") Hover me 
      a(href="#") Hover me 
      a(href="#") Hover me 
      a(href="#") Hover me 
      a(href="#") Hover me 
      a(href="#") Hover me 
      a(href="#") Hover me 
      a(href="#") Hover me 
      a(href="#") Hover me 
    // End Button
    
    hr
    
    // Start Page Card  
    .page-card
    
      // Start Card-1 
      .card-1
        .card-body-1
          .card-content-1
            img(class='img-fluid' src='img/hover-js/hover-01.jpg' alt='')
          .card-back-1
            .single-price-plan.text-center
              .package-plan
                h5 Basic Plan
                .price.d-flex.justify-content-center
                  span $
                  h4 49
              .package-description
                p Up to 10 users monthly
                p Unlimited updates
                p Free host & domain
                p 24/7 Support
                p 10 Unique Users
              .single-btn
                button Select Plan
      // End Card-1 


      // Start Card-2 
      .card-2
        .card-body-2
          figure
            img(class='img-fluid' src='img/hover-js/hover.jpg' alt='...')
          .detailss
            .details-left
              .content-left
                h2 Ahmed 
                | #[span Front end]
                ul.list-unstyled
                  li
                    a(href='#')
                      i.fa.fa-facebook
                  li
                    a(href='#')
                      i.fa.fa-twitter
            .details-right
              .content-right
                h2 Badr 
                | #[span developer]
                ul.list-unstyled
                  li
                    a(href='#')
                      i.fa.fa-google-plus
                  li
                    a(href='#')
                      i.fa.fa-linkedin
      // End Card-2 
            

    // End Page Card 

    hr

    // Start 

// End Hover Section 