// Start Section Hover 
.section-hover
  .container-fluid
    .hover-arrea
      .hover-box
        .hover-content
          // Start Button 
          .page-button
            a(href="#") Hover me 
            a(href="#") Hover me 
            a(href="#") Hover me 
            a(href="#") Hover me 
            a(href="#") Hover me 
            a(href="#") Hover me 
            a(href="#") Hover me 
            a(href="#") Hover me 
            a(href="#") Hover me 
            a(href="#") Hover me 
            a(href="#") Hover me 
            a(href="#") Hover me 
            a(href="#") Hover me 
            a(href="#") Hover me 
          // End Button
      .hover-box
        .hover-content
          // Start Card-1 
          .card-body-1
            .card-content-1
              img(class='lazyload img-fluid' src='img/load.gif' data-src='img/hover-active/hover1.jpg' alt='Image')
            .card-back-1
              .single-price-plan.text-center
                .package-plan
                  h5 Basic Plan
                  .price.d-flex.justify-content-center
                    span $
                    h4 49
                .package-description
                  p Up to 10 users monthly
                  p Unlimited updates
                  p Free host & domain
                  p 24/7 Support
                  p 10 Unique Users
                .single-btn
                  button Select Plan
          // End Card-1 
      .hover-box
        .hover-content
          // Start Card-2 
          .card-2
            .card-body-2
              figure
                img(class='lazyload img-fluid' src='img/load.gif' data-src='img/hover-active/hover2.jpg' alt='Image')
              .detailss
                .details-left
                  .content-left
                    h2 Ahmed 
                    | #[span Front end]
                    ul.list-unstyled
                      li
                        a(href='#')
                          i.fa.fa-facebook
                      li
                        a(href='#')
                          i.fa.fa-twitter
                .details-right
                  .content-right
                    h2 Badr 
                    | #[span developer]
                    ul.list-unstyled
                      li
                        a(href='#')
                          i.fa.fa-google-plus
                      li
                        a(href='#')
                          i.fa.fa-linkedin
          // End Card-2 
// End Section Hover 