// Start Section Portfolio 
section(class='portfolio pd-top-btm' id='portfolio')
  // Page Title 
  .page-title
    h2 My #[span Portfolio]
    p  A FEW RECENT DESIGN AND CODING PROJECTS. WANT TO SEE MORE? EMAIL ME

  // Portfolio Nav 
  ul(class='port-nav list-unstyled')
    li(class='active' data-section='.port-projects') Projects 
    li(data-section='.section-hover') Hover
    li(data-section='.section-activity') Activity
  
  .show-portfolio
    include ./portfolio-projects
    include ./portfolio-hover
    include ./portfolio-activity

// End Section Portfolio 
