// Start Section Projects 
section.port-projects
  .container
    // Page Title 
    h2.t-section Projects
    .row
      // Item 
      div(class='col-lg-4 col-md-6 col-12')
        .port-item.wow.fadeInUp(data-wow-delay="250ms" style={'visibility': 'visible', 'animation-delay': '250ms', 'animation-name': 'fadeInUp'})
          .port-front
            img(class='img-fluid' src='img/project/shaqawa.jpg' alt='Project Image')
          .port-back-top
          .port-back-bottom
            a(class='btn btns btn-live' href='http://shaqawa-store.com/' target='_blank'): span
              img(src="img/project/port-icon.svg" alt='Icon')
              |  Preview Live
      // Item 
      div(class='col-lg-4 col-md-6 col-12')
        .port-item.wow.fadeInUp(data-wow-delay="250ms" style={'visibility': 'visible', 'animation-delay': '250ms', 'animation-name': 'fadeInUp'})
          .port-front
            img(class='img-fluid' src='img/project/anjez.jpg' alt='Project Image')
          .port-back-top
          .port-back-bottom
            a(class='btn btns btn-live' href='https://anjez.projects.tmtgps.me/anjez/home' target='_blank'): span
              img(src="img/project/port-icon.svg" alt='Icon')
              |  Preview Live
      // Item 
      div(class='col-lg-4 col-md-6 col-12')
        .port-item.wow.fadeInUp(data-wow-delay="250ms" style={'visibility': 'visible', 'animation-delay': '250ms', 'animation-name': 'fadeInUp'})
          .port-front
            img(class='img-fluid' src='img/project/pearl.jpg' alt='Project Image')
          .port-back-top
          .port-back-bottom
            a(class='btn btns btn-live' href='https://pearlbusiness.netlify.com/' target='_blank'): span
              img(src="img/project/port-icon.svg" alt='Icon')
              |  Preview Live
      // Item 
      div(class='col-lg-4 col-md-6 col-12')
        .port-item.wow.fadeInUp(data-wow-delay="250ms" style={'visibility': 'visible', 'animation-delay': '250ms', 'animation-name': 'fadeInUp'})
          .port-front
            img(class='img-fluid' src='img/project/mediplus.jpg' alt='Project Image')
          .port-back-top
          .port-back-bottom
            a(class='btn btns btn-live' href='https://medipls.netlify.com/' target='_blank'): span
              img(src="img/project/port-icon.svg" alt='Icon')
              |  Preview Live
      // Item 
      div(class='col-lg-4 col-md-6 col-12')
        .port-item.wow.fadeInUp(data-wow-delay="250ms" style={'visibility': 'visible', 'animation-delay': '250ms', 'animation-name': 'fadeInUp'})
          .port-front
            img(class='img-fluid' src='img/project/ca.jpg' alt='Project Image')
          .port-back-top
          .port-back-bottom
            a(class='btn btns btn-live' href='https://flamboyant-clarke-213de6.netlify.com/' target='_blank'): span
              img(src="img/project/port-icon.svg" alt='Icon')
              |  Preview Live
      
      // Item 
      div(class='col-lg-4 col-md-6 col-12')
        .port-item.wow.fadeInUp(data-wow-delay="250ms" style={'visibility': 'visible', 'animation-delay': '250ms', 'animation-name': 'fadeInUp'})
          .port-front
            img(class='img-fluid' src='img/project/ziggy.jpg' alt='Project Image')
          .port-back-top
          .port-back-bottom
            a(class='btn btns btn-live' href='https://ziggy1.netlify.com/' target='_blank'): span
              img(src="img/project/port-icon.svg" alt='Icon')
              |  Preview Live
              
// End Section Projects 
      