// Start Section Activity 
section.section-activity
  .container
    .activity-arrea
      .activity-box
        .activity-content
          // Start Slider-2 
          .slider-2
            .slider-container
              .slide-number#slide-number
              img.lazyload(data-src='img/hover-active/activity1.jpg' alt='Image')
              img.lazyload(data-src='img/hover-active/activity2.jpg' alt='Image')
              img.lazyload(data-src='img/hover-active/activity3.jpg' alt='Image')
              img.lazyload(data-src='img/hover-active/activity4.jpg' alt='Image')
              img.lazyload(data-src='img/hover-active/activity5.jpg' alt='Image')

            .slider-controls
              span.prev#prev Previous 
              span.indicators#indicators
              span.next#next Next
          // End Slider-2 
      .activity-box
        .activity-content
          // Start Slider Using Css 
          .slider-by-css
            .slidershow-by-css
              .slides-by-css
                input#r1(type='radio' name='r' checked)
                input#r2(type='radio' name='r')
                input#r3(type='radio' name='r')
                input#r4(type='radio' name='r')
                .slide-by-css.s1
                  img.img-fluid.lazyload(data-src='img/hover-active/activity4.jpg' alt='Image')
                .slide-by-css
                  img.img-fluid.lazyload(data-src='img/hover-active/activity1.jpg' alt='Image')
                .slide-by-css
                  img.img-fluid.lazyload(data-src='img/hover-active/activity3.jpg' alt='Image')
                .slide-by-css
                  img.img-fluid.lazyload(data-src='img/hover-active/activity5.jpg' alt='Image')
                .navigation-by-css
                  label.bar(for='r1')
                  label.bar(for='r2')
                  label.bar(for='r3')
                  label.bar(for='r4')
          // End Slider Using Css 
      .activity-box
        .activity-content
          // Start Accordion-2 
          .accordion-2
            button.show-accordion Section 1
            .desc-accordion
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam reiciendis magni in odit id necessitatibus veniam corporis tenetur, voluptatibus a illo consequatur iste dicta quaerat, minus minima iusto vitae magnam.

            button.show-accordion Section 2
            .desc-accordion
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam reiciendis magni in odit id necessitatibus veniam corporis tenetur, voluptatibus a illo consequatur iste dicta quaerat, minus minima iusto vitae magnam.

            button.show-accordion Section 3
            .desc-accordion
              p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam reiciendis magni in odit id necessitatibus veniam corporis tenetur, voluptatibus a illo consequatur iste dicta quaerat, minus minima iusto vitae magnam.
          // End Accordion-2 
      .activity-box
        .activity-content
          // Start Accordion-1 
          .accordion_1
            .accordion-1
              ul.list-unstyled#accordion-1
                li
                  a.active(href='#'): i.fa.fa-gift
                  .box.active
                    h2 Gift
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ab ipsam corporis porro ratione. Incidunt vel fuga minus facilis possimus ducimus provident eaque sit. Commodi accusantium recusandae amet eveniet ipsam!
                li
                  a(href='#'): i.fa.fa-glass
                  .box
                    h2 Glass
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ab ipsam corporis porro ratione. Incidunt vel fuga minus facilis possimus ducimus provident eaque sit. Commodi accusantium recusandae amet eveniet ipsam!
                li
                  a(href='#'): i.fa.fa-globe
                  .box
                    h2 Globe
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ab ipsam corporis porro ratione. Incidunt vel fuga minus facilis possimus ducimus provident eaque sit. Commodi accusantium recusandae amet eveniet ipsam!
                li
                  a(href='#'): i.fa.fa-graduation-cap
                  .box
                    h2 Graduate
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ab ipsam corporis porro ratione. Incidunt vel fuga minus facilis possimus ducimus provident eaque sit. Commodi accusantium recusandae amet eveniet ipsam!
                li
                  a(href='#'): i.fa.fa-users
                  .box
                    h2 Groups
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quibusdam ab ipsam corporis porro ratione. Incidunt vel fuga minus facilis possimus ducimus provident eaque sit. Commodi accusantium recusandae amet eveniet ipsam!
          // End Accordion-1 

      //- .activity-box
      //-   .activity-content
      //-     // Start Check Box 
      //-     .checkbox-neumorphism
      //-       label
      //-         input(type="radio" name="age")
      //-         i.fa.fa-check
      //-       label
      //-         input(type="radio" name="age")
      //-         i.fa.fa-check

      //-     // Start Check Box 

// End Section Activity 
